<div class="mobile-content bg-black" style="height: 300px; padding-top: 150px">
  <div style="text-align: center;">           
      <%= image_tag('pexo.png') %>
  </div>
</div>
<div class="mobile-content">
  <h3>Planning a Group Trip doesn't have to suck.</h3>
  <div class="row-fluid">
    <div class="span12" style="text-align: center; line-height: 1.5">
      <p>Whether its a day trip or a long vacation, we want to help you and your group reduce the hassle of planning.</p>

      <p>Here's how it works:</p>
    </div>
  </div>
</div>
<div class="span11" style="margin-top: 50px">
      <div class="mobile-signup">
          <h3>Sign Up for a Beta Invitation</h3>
          <h4>We're launching soon so don't miss out!</h4>
          <div class="thankyoutext">
            Thank you for signing up!
          </div>
          <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
          <div class="emailbox">
            <%= f.error_notification %>
            <%= f.input :email, :placeholder => 'Enter your Email' , label: false %>
            <div class="emailerror">
              Uh oh! Invalid Email...
            </div>
          </div>
          <div id="call-to-action">
            <%= f.submit "Sign Up", :class => "btn btn-primary btn-large", :id => 'invitation_button' %>
          </div>
          <% end %>

          </div>
        </div>
    </div>