<div class="mobile-content bg-black" style="height: 200px; padding-top: 150px">
  <div style="text-align: center;">           
      <%= image_tag('pexo.png') %>
  </div>
</div>
<div class="mobile-content">
  <h3>Planning a Group Trip doesn't have to suck.</h3>
  <div class="row-fluid">
    <div class="span12" style="text-align: center; line-height: 1.5">
      <p>Whether its a day trip or a long vacation, we want to help you and your group reduce the hassle of planning.</p>

      <p>Here's how it works:</p>
    </div>
  </div>
</div>
<div class="mobile-content" style="background: #2ecc71;">
  <div>
    <h2 style="color: black">Connect</h2>
    <h3>We make it easy to communicate with your group and organize plans</h3>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img src="<%= asset_path 'home.png' %>" style="height:230px; width: 80%; box-shadow: 5px 5px 5px #000;"></img>
    </div>
    <div class="span8">
<!--       <ul style="color: beige; width: 90%;">
        <li>Invite group members through email or Facebook</li>
        <li>Share individual preferences and needs</li>
        <li>Get everyone on the same page</li>
      </ul> -->
    </div>
  </div>
</div>

<div class="mobile-content" style="background: #3498db;">
  <div>
    <h2 style="color: black">Brainstorm</h2>
    <h3>Suggest ideas and discoveries on the Idea Board</h3>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img src="<%= asset_path 'board.png' %>" style="height:230px; box-shadow: 5px 5px 5px #000;"></img>
    </div>
    <div class="span8">
<!--       <ul style="color: beige; width: 90%;">
        <li>Flight info, hotel deals, and much more can be shared</li>
        <li>Bookmark cool activities and destinations</li>
      </ul> -->
    </div>
  </div>
</div>

<div class="mobile-content" style="background: #f39c12;">
  <div>
    <h2 style="color: black">Collaborate</h2>
    <h3>Make decisions about your itinerary together!</h3>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img src="<%= asset_path 'itin.png' %>" style="height:230px; width: 80%; box-shadow: 5px 5px 5px #000;"></img>
    </div>
    <div class="span8">
<!--       <ul style="color: beige; width: 90%;">
        <li>Flight info, hotel deals, and much more can be shared</li>
        <li>Bookmark cool activities and destinations</li>
      </ul> -->
    </div>
  </div>
</div>

<div class="mobile-content" style="background: #2ecc71;">
  <div>
    <h2 style="color: black">Visualize</h2>
    <h3>Finally, Look over your budget and split the costs!</h3>
  </div>
</div>

<div>
<p style="font-size: 24px; padding-top: 30px">Thats it!</p>
</div>

<div class="span11" style="margin-top: 29px; padding-top 10px;">
      <div class="mobile-signup">
          <h3>Sign Up for a Beta Invitation</h3>
          <h4>We're launching soon so don't miss out!</h4>
          <div class="thankyoutext">
            Thank you for signing up!
          </div>
          <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
          <div class="emailbox">
            <%= f.error_notification %>
            <%= f.input :email, :placeholder => 'Enter your Email' , label: false %>
            <div class="emailerror">
              Uh oh! Invalid Email...
            </div>
          </div>
          <div id="call-to-action">
            <%= f.submit "Sign Up", :class => "btn btn-primary btn-large", :id => 'invitation_button' %>
          </div>
          <% end %>

          </div>

</div>
