<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>

<ul class="navigation hidden-phone" style="position:fixed; bottom: 50px;right:50px;">
  <li class="button-white-css" data-slide="6">Sign Up Now</li>
          </ul>

  <div class="slide hidden-phone" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" >

      <div class="content">
        <div id="romance-copy" class="splash" style="text-align: center;">           
          <%= image_tag('pexo.png') %>
          <h5>planning a group <span class="triptext">trip</span>?</h5>
          <h5>we'll make it <span class="triptext2">easy</span></h5>

          <p style="margin-top: 50px">SCROLL TO LEARN MORE</p> 
  
          <p><i class="icon-chevron-down"></i></p>
          <p><i class="icon-chevron-down"></i></p>
        </div>
      </div>

  </div>

  <div class="slide hidden-phone" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="text-bg" data-stellar-ratio="1.5">
      <h3>Planning a Group Trip can be difficult</h3>
      <div class="row-fluid">
        <div class="span10 offset1" style="text-align: center; line-height: 1.5; width: 80%;">
          You have to communicate with everyone to suggest ideas, get feedback, and discuss concerns. Current tools don't address this, and collaborating on a trip is still a major headache.
          <br/>
          <br/>
          We want to solve this problem. Whether you are planning a weekend trip or a long backpacking adventure, GoPexo makes group trip planning easy.
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide3" data-slide="3" data-stellar-background-ratio="0.2">
    <div class="scrollblock row-fluid">
      <div class="span12">
        <div class="slide2bg">
          <h2>Connect</h2>
          <h3>Communicate with your group and organize plans</h3>
        </div>
      </div>
    </div>
    <div class="scrollblock row-fluid">
      <div class="span6 slide3position">
        <%= image_tag('trip.png', :class=>"slide3pic") %>
      </div>
      <div class="span5 slide3position">
        <div class="slide4info" id="fade-in2">
          <h4>Get on the Same Page</h4>
          <h5>Literally! We provide a platform for you and your group members to consolidate your planning.</h5>
        </div>
          <div class="slide4info">
          <h4>Share Your Needs</h4>
          <h5>Its hard to communicate crucial information like budget and dietary restrictions on email or Facebook. Our service makes sure important information about you is properly shared.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="scrollblock row-fluid">
      <div class="span12">
        <div class="slide4bg" id="fade-in2">
          <h2>Brainstorm</h2>
          <h3>Suggest ideas and discoveries on your Idea Board</h3>
        </div>
      </div>
    </div>
    <div class="scrollblock row-fluid">
      <div class="span5 offset1 slide4position">
        <div class="slide4info">
          <h4>Ensure a Perfect Vacation</h4>
          <h5>We make it easy for everyone to have a say in what they want to do. Unlike other tools, sharing is easy and organized!</h5>
        </div>
          <div class="slide4info">
          <h4>Voting and Decision Making</h4>
          <h5>Visualize your options so you can pick and choose the most popular ideas.</h5>
        </div>
      </div>
      <div class="span6 slide4position">
        <%= image_tag('board.png', :class=>"slide4pic") %>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide5" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="scrollblock row-fluid">
      <div class="span12">
        <div class="slide5bg" id="fade-in2">
        <h2>Plan</h2>
        <h3>Make decisions about your itinerary together!</h3>
        </div>
      </div>
    </div>
   <div class="span6 slide4position">
      <%= image_tag('itin.png', :class=>"slide3pic") %>
    </div>
    <div class="span5 slide4position">
      <div class="slide4info">
        <h4>Smart Itineraries</h4>
        <h5>Schedule your trip based on popular ideas.</h5>
      </div>
      <div class="slide4info">
        <h4>Learn from Others</h4>
        <h5>View and draw from the trip plans of other people who have done similar trips!</h5>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide7" data-stellar-background-ratio="0.5">
    <div class="scrollblock row-fluid">
      <div class="span8 offset2">
        <h2>That's it!</h2>
        <h3>Once you're all set, on behalf of the GoPexo family...</h3>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide8" data-slide="6" data-stellar-background-ratio="0.1">
    <div class="scrollblock row-fluid">
      <div class="span7">
        <div class="slide8bg1" id="fade-out1">
          <h2>Have a Great Time!</h2>
        </div>
      </div>

    <div class="span11">
      <div class="slide8bg">
          <% @uid = SecureRandom.urlsafe_base64 %>
          <h3>Sign Up for a Beta Invitation</h3>
          <h4>We're launching soon so don't miss out!</h4>
          <div class="thankyoutext">
            <h1>
            Thank You for signing up!
            </h1>
            <br>
            <h4>Share us with your friends!</h4>
            <div class="referral">
              <p>Currently planning a group trip? Share this link to invite your group members!</p>

              <%= link_to "#{Rails.application.config.domain[:host]}/refer/#{@uid}" , "#{Rails.application.config.domain[:host]}/refer/#{@uid}" %>

              <p>Invite 3 or more people and we'll give you priority access to our beta as soon as its ready!</p>
            </div>
            
          </div>
          <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
          <div class="emailbox">
            <%= f.error_notification %>
            <%= f.input :email, :placeholder => 'Enter your Email' , label: false %>

            <% @refer = nil %>
            <% if @referrer %>
              <% @refer = @referrer.authentication_token %>
            <% end %>
            <%= f.hidden_field :referrer_token, :value => @refer%>
            <%= f.hidden_field :authentication_token, :value =>  @uid %>
            <div class="emailerror">
              Uh oh! Invalid Email...
            </div>
          </div>
            
          <div id="call-to-action">
            <%= f.submit "Sign Up", :class => "btn btn-primary btn-large", :id => 'invitation_button' %>
          </div>
          <% end %>

          </div>
        </div>
    </div>
  </div>
<div class="visible-phone">
      <%= render :partial => "/devise/registrations/mobile" %>
</div>