<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>

<ul class="navigation hidden-phone" style="position:fixed; bottom: 50px;right:100px;">
  <li class="signupbutton" data-slide="6">Sign Up Now</li>
</ul>

  <div class="slide hidden-phone" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" >

      <div class="content">
        <div id="romance-copy" class="splash" style="text-align: center;">           
          <%= image_tag('pexo.png') %>
          <h5>planning a group trip?</h5>
          <h5>we'll make it easy</h5>

          <p style="margin-top: 50px">SCROLL TO LEARN MORE</p> 
  
          <p><i class="icon-chevron-down"></i></p>
          <p><i class="icon-chevron-down"></i></p>
        </div>
      </div>

  </div>

  <div class="slide hidden-phone" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="text-bg" data-stellar-ratio="1.5">
      <h3>Travel is all about People</h3>
      <div class="row-fluid">
        <div style="text-align: center; line-height: 1.5; width: 60%; margin: auto">
          Yet for some reason, it is so hard to coordinate travel plans with others. You have to use Facebook Events, Google Docs, Spreadsheets, Emails, and more - just to figure out what you're doing.
          <br/>
          <br/>
          We want to solve this problem. Whether you are planning a weekend trip or a long backpacking adventure, GoPexo is the best way to organize plans with your group, all in one place!
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide3" data-slide="3" data-stellar-background-ratio="0.1">
    <div class="scrollblock row-fluid">
      <div class="span12">
        <div class="slide3bg">
          <h2>Connect</h2>
          <h3>Communicate with your group and organize plans</h3>
        </div>
      </div>
    </div>
    <div class="scrollblock row-fluid">
      <div class="slide2bg slide3position span10 offset1">
        <div class="row-fluid span8 offset2">
          <%= image_tag('trip.png', :class=>"slide3pic") %>
        </div>
        <div class="row-fluid span12 scrollblock" style="padding-top: 15px; padding-right: 40px;">
          <div class="span4 slide3info">
            <h4>Get on the Same Page</h4>
            <h5>Literally! We provide a platform for you and your group members to consolidate your planning.</h5>
          </div>
          <div class="span4 slide3info">
            <h4>Share Your Preferences</h4>
            <h5>How much money does your group want to spend? What kind of trip does everyone want to have? You'll want to know this to plan a kickass trip!</h5>
          </div>
          <div class="span4 slide3info">
            <h4>Get Social</h4>
            <h5>Get recommendations from your Facebook friends or from our users who have done a similar trip.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide4" data-slide="4" data-stellar-background-ratio="0.2">
    <div class="scrollblock row-fluid">
      <div class="span12">
        <div class="slide4bg" id="fade-in2">
          <h2>Brainstorm</h2>
          <h3>Suggest ideas and discoveries on your Idea Board</h3>
        </div>
      </div>
    </div>
    <div class="row-fluid span12">
      <div class="slide4bg span10 offset1 slide4position">
        <div class="row-fluid span10 offset1">
          <%= image_tag('board.png', :class=>"slide4pic") %>
        </div>
        <div class="row-fluid span10 offset1">
          <div class="span5 slide4info">
            <h4>Share Ideas</h4>
            <h5>Pin all of your travel research in one place for your group to see!</h5>
          </div>
            <div class="span6 slide4info">
            <h4>Voting and Decision Making</h4>
            <h5>Visualize your options so you can pick and choose the most popular ideas.</h5>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="slide hidden-phone" id="slide5" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="row-fluid">
      <div class="span12">
        <div class="slide5bg" id="fade-in2">
        <h2>Plan</h2>
        <h3>Make decisions about your itinerary together!</h3>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span5 offset1 slide4position slide5info">
        <%= image_tag('mapitin.png', :class=>"slide5pic") %>
      </div>
      <div class="scrollblock span5 slide4position">
        <div class="slide5info fade-in1">
          <h4>Drag and Drop</h4>
          <h5>Remember when your schedule was on a spreadsheet, and nobody could understand it? <br/>We'll make it easy for everyone to follow, and modify!</h5>
        </div>
        <div class="slide5info fade-in2">
          <h4>Learn from Others</h4>
          <h5>View and draw from the trip plans of other people who have done similar trips!</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide7" data-stellar-background-ratio="0.5">
    <div class="scrollblock row-fluid">
      <div class="span8 offset2">
        <h2>That's it!</h2>
        <h3>Once you're all set, on behalf of the GoPexo family...</h3>
      </div>
    </div>
  </div>

  <div class="slide hidden-phone" id="slide8" data-slide="6" data-stellar-background-ratio="0.1">
    <div class="scrollblock row-fluid">
      <div class="span7">
        <div class="slide8bg1" id="fade-out1">
          <h2>Have a Great Time!</h2>
        </div>
      </div>

    <div class="span11">
      <div class="slide8bg">
          <% @uid = SecureRandom.urlsafe_base64 %>
          <h3>Sign Up for a Beta Invitation</h3>
          <h4>We're launching soon so don't miss out!</h4>
          <div class="thankyoutext">
            <h1>
            Thank You for signing up!
            </h1>
            <br>
            <h4>Share us with your friends!</h4>
            <div class="referral">
              <p>Currently planning a group trip? Share this link to invite your group members!</p>

              <%= link_to "#{Rails.application.config.domain[:host]}/refer/#{@uid}" , "#{Rails.application.config.domain[:host]}/refer/#{@uid}" %>

              <p>Invite 3 or more people and we'll give you priority access to our beta as soon as its ready!</p>
            </div>
            
          </div>
          <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
          <div class="emailbox">
            <%= f.error_notification %>
            <%= f.input :email, :placeholder => 'Enter your Email' , label: false %>

            <% @refer = nil %>
            <% if @referrer %>
              <% @refer = @referrer.authentication_token %>
            <% end %>
            <%= f.hidden_field :referrer_token, :value => @refer%>
            <%= f.hidden_field :authentication_token, :value =>  @uid %>
            <div class="emailerror">
              Uh oh! Invalid Email...
            </div>
          </div>
            
          <div id="call-to-action">
            <%= f.submit "Sign Up", :class => "btn btn-primary btn-large", :id => 'invitation_button' %>
          </div>
          <% end %>

          </div>
        </div>
    </div>
  </div>
<div class="visible-phone">
      <%= render :partial => "/devise/registrations/mobile" %>
</div>