
<style type="text/css">
.registrations{
  background: url(<%= asset_path "splash-image.jpg" %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.sideimage{
  height: 100%;
  width: 60%;
  float: left;
}
.content{
  background-color : rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0;
}
.splash{
  display: block;
}

.splash h3{
  color: #FFF;
  line-height: 1.5274rem;
}

.emailbox{
  color: #FFF;
  margin-top: 30px;
}

h2{
  display: none;
  color: #FFF;
  margin-bottom: 40px;
  margin-top: 4rem;
}

.moreinfo{
  width: 80%;
  color: #DDD;
  font-size: 1.06rem;
  margin-left: auto;
  margin-right: auto;
}
</style>

<!-- <div class="sideimage"> <%= image_tag('breezi_placeit.png') %>
</div> -->

<div id="request-invite" class="modal" style="display: <%= @user.errors.any? ? 'block' : 'none';%>">
  
</div>
<div id="romance-copy" class="splash" style="text-align: center; margin-top: 80px">
  
        <%= image_tag('pexo.png') %>
        <h3>Collaborate with friends and family to plan your next vacation.</h3>
        <div class="moreinfo">
          We are a next generation trip planner for groups of friends and family. No more long email chains or messy Google Docs. Our service will help you collaborate on your itinerary, organize your budgets, and figure out cost-sharing.
          <h4 style="color:#f4e03a;">Sign up for an invitation to beta access now!</h4>
        </div>
        <h2></h2>
    <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
    <!-- <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Request Invitation</h3>
    </div> -->
    <div class="emailbox">
      <%= f.error_notification %>
      <%= f.input :email, :placeholder => 'user@example.com' , label: false %>
    </div>
    <div id="call-to-action" style="text-align: center; margin-top: 15px">
      <%= f.submit "Sign up for the beta", :class => "btn btn-primary btn-large", :id => 'invitation_button' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  $('.btn').click(function(){
    console.log('A');
    $('.simple_form').fadeOut(function(){
      $('h2').html('Thank you for signing up!').fadeIn();
    });
  });

</script>

<!-- <div id="call-to-action" style="text-align: center; margin-top: 80px">
  <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Request invite</a>
</div> -->


