
<style type="text/css">

.content{
background: transparent;
}

.splash h3{
  color: #FFF;
  line-height: 1.5274rem;
}
h3{
  margin-top: 10%;
}
.emailbox{
  color: #FFF;
  margin-top: 30px;
}
.splash{
  padding-top: 50px;
  background-color : rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0;
  padding-bottom: 80px;
}
h2{
  display: none;
  color: #FFF;
  margin-bottom: 40px;
  margin-top: 4rem;
}
.moreinfo{
  width: 80%;
  color: #DDD;
  font-size: 1.06rem;
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>
  

  <%= image_tag('pexo.png', :class => "logoimage") %>

  <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" >

      <div class="content">
        <div id="romance-copy" class="splash" style="text-align: center; margin-top: 80px">
          
                
                <h3>Collaborate with friends and family to plan your next vacation.</h3>
                <div class="moreinfo">
                  We are a next generation trip planner for groups of friends and family. No more long email chains or messy Google Docs. Our service will help you collaborate on your itinerary, organize your budgets, and figure out cost-sharing.
                  <h4 style="color:#f4e03a;">Sign up for an invitation to beta access now!</h4>
                </div>
                <h2></h2>
            <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
              <div class="emailbox">
                <%= f.error_notification %>
                <%= f.input :email, :placeholder => 'user@example.com' , label: false %>
              </div>
              <div id="call-to-action">
                <%= f.submit "Sign up for the beta", :class => "btn btn-primary btn-large", :id => 'invitation_button' %>
              </div>
          <% end %>
        </div>
      </div>

  </div>

  <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
  
    <span class="slideno">Planning Sucks</span>
  </div>

  <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
  </div>

  <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
  </div>

</body>