<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoPexo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Gopexo" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <%= yield %>
    <div class="visible-phone">
      <%= render :partial => "/devise/registrations/mobile" %>
    </div>
    <%= render :partial => "/layouts/footer" %>
  </body>
</html>