<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoPexo" %></title>
    <meta name="description" content="Reinventing the way you and your friends make travel plans">
    <meta name="keywords" content="group,planner,travel,trip,planning,vacation">
    <meta property="og:image" content=<%= asset_path "gplogo.jpg" %>>
    <link rel="shortcut icon" href="/images/favicon.ico" >
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <%= yield %>
    <%= render :partial => "/layouts/footer" %>
  </body>
</html>